* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.row-100 {
    background-color: rgb(164, 83, 17);
    width: 100%;
    display: flex;
    justify-content: center;


}

.row-80 {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.col {
    width: calc(100% / 3 - 10px);
    margin: 10px;
    color: white;
    justify-content: center;
    display: flex;
    padding: 10px;
}

.logo {
    width: 100px;
}

.menu {
    padding: 5px;
}

.catalogo {
    background: none;
    border: none;
    cursor: pointer;
    color: white;
}

/* inizio main */

.container {
    width: 100%;
    background-color: rgb(126, 128, 126);
    display: flex;
    justify-content: center;

}

.row-100-prodotti {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(101, 101, 99);
    justify-content: center;
    margin: 20px;

}


.col-33 {
    width: calc(100% / 3 - 20px);
    background-color: rgb(103, 102, 101);
    margin: 10px 10px;
    position: relative;
}

.full-img {
    width: 100%;
}

.heart {
    color: black;
    padding: 10px;
    font-size: 20px;
    position: absolute;
    top: 0;
    right: 0;
}

.price-offer {
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    top: 75%;
    left: 5%;

}

.price-offer-red {
    background-color: red;
}

.price-offer-green {
    background-color: green;
}

.footer {
    background-color: black;
    color: aliceblue;
    padding: 20px;
   
}






